/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  width: 100%;
  clear: both;
  position: absolute;
  bottom: 0;
  margin-top: 2.5em;
  color: mix(#fff, $gray, 20%);
  background: #fff;
  border-top: 1px solid $lighter-gray;

  footer {
    @include clearfix;
    margin: 0 auto;
    padding: 1.1rem 1rem 1.25rem;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }
}

.page__footer-copyright {
  margin: 0;
  font-family: $global-font-family;
  font-size: 0.78rem;
  line-height: 1.4;
  color: #9aa0a6;
}
